.item{
    width: 100%;
    height: 100%;
    background-color: rgb(222, 222, 222);
}

.not-walkable {
    background-color: black !important;
}

.blue{
    background-color: blue !important;
}

.open{
    background-color: green;
}

.close {
    background-color: red;
}